@media print {
    body * {
        visibility: hidden;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    .themed #print-area,
    .themed #print-area * {
        visibility: visible;
    }

    .themed #print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }

    .themed #no-print {
        display: none;
    }
}
